:root {
  --soc-bg: #090D16;
  --soc-card: #131A26;
  --soc-border: #222F47;
  --soc-text: #E2E8F0;
  --soc-subtext: var(--soc-gray);

  --soc-red: #EF4444;
  --soc-yellow: #F59E0B;
  --soc-green: #10B981;
  --soc-blue: #3B82F6;
  --soc-light-blue: #38BDF8;
  --soc-gray: #64748B;
}

body {
  margin: 0;
  background-color: var(--soc-bg);
  color: var(--soc-text);
  font-family: ui-sans-serif, system-ui, -apple-system, sans-serif;
  -webkit-font-smoothing: antialiased;
}

::-webkit-scrollbar {
  width: 8px;
}
::-webkit-scrollbar-track {
  background: var(--soc-bg);
}
::-webkit-scrollbar-thumb {
  background: var(--soc-border);
  border-radius: 4px;
}